<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Thabang.Nkgweng/Downloads/ILabWeb">
        <parameter name="ILABURL" value="https://www.ilabquality.com/"/>
        <parameter name="Browser" value="chrome"/>

        <classes><class name="ilAB.WebTests.TestiLab">
            <methods><include name="Apply"/></methods></class>
        </classes>
    </test>


    <test verbose="2" preserve-order="true" name="C:/Users/Thabang.Nkgweng/Downloads/ILabWeb2">
        <parameter name="ILABURL" value="https://www.ilabquality.com/"/>
        <parameter name="Browser" value="firefox"/>

        <classes><class name="ilAB.WebTests.TestiLab">
            <methods><include name="Apply"/></methods></class>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="C:/Users/Thabang.Nkgweng/Downloads/ILabWeb3">
        <parameter name="ILABURL" value="https://www.ilabquality.com/"/>
        <parameter name="Browser" value="microsoft edge"/>

        <classes><class name="ilAB.WebTests.TestiLab">
            <methods><include name="Apply"/></methods></class>
        </classes>
    </test>




</suite>